.venv/
__pycache__/
*.py[cod]
db.sqlite3
.env
media/*
!media/modulos/
media/modulos/*
!media/modulos/5/
media/modulos/5/*
!media/modulos/5/resumo.mp3
!media/palavras/
media/palavras/*
!media/palavras/imagens/
media/palavras/imagens/*
!media/palavras/imagens/ship.webp
!media/palavras/imagens/fish.webp
!media/palavras/imagens/shoe.webp
!media/palavras/imagens/sheep.webp
!media/palavras/imagens/shop.webp
!media/palavras/imagens/shell.webp
!media/palavras/audios/
media/palavras/audios/*
!media/palavras/audios/ship.mp3
!media/palavras/audios/fish.mp3
!media/palavras/audios/shoe.mp3
!media/palavras/audios/sheep.mp3
!media/palavras/audios/shop.mp3
!media/palavras/audios/shell.mp3
.idea/
