.venv/
__pycache__/
*.py[cod]
db.sqlite3
.env
media/*
!media/modulos/
media/modulos/*
!media/modulos/5/
media/modulos/5/*
!media/modulos/5/resumo.mp3
!media/modulos/6/
media/modulos/6/*
!media/modulos/6/resumo.mp3
!media/modulos/7/
media/modulos/7/*
!media/modulos/7/resumo.mp3
!media/modulos/8/
media/modulos/8/*
!media/modulos/8/resumo.mp3
!media/palavras/
media/palavras/*
!media/palavras/imagens/
media/palavras/imagens/*
!media/palavras/imagens/ship.webp
!media/palavras/imagens/fish.webp
!media/palavras/imagens/shark.webp
!media/palavras/imagens/sheep.webp
!media/palavras/imagens/shop.webp
!media/palavras/imagens/shovel.webp
!media/palavras/imagens/chair.webp
!media/palavras/imagens/chicken.webp
!media/palavras/imagens/cheese.webp
!media/palavras/imagens/beach.webp
!media/palavras/imagens/child.webp
!media/palavras/imagens/chocolate.webp
!media/palavras/imagens/think.webp
!media/palavras/imagens/tooth.webp
!media/palavras/imagens/bath.webp
!media/palavras/imagens/this.webp
!media/palavras/imagens/that.webp
!media/palavras/imagens/mother.webp
!media/palavras/imagens/phone.webp
!media/palavras/imagens/photo.webp
!media/palavras/imagens/elephant.webp
!media/palavras/imagens/dolphin.webp
!media/palavras/imagens/alphabet.webp
!media/palavras/imagens/trophy.webp
!media/palavras/audios/
media/palavras/audios/*
!media/palavras/audios/ship.mp3
!media/palavras/audios/fish.mp3
!media/palavras/audios/shark.mp3
!media/palavras/audios/sheep.mp3
!media/palavras/audios/shop.mp3
!media/palavras/audios/shovel.mp3
!media/palavras/audios/chair.mp3
!media/palavras/audios/chicken.mp3
!media/palavras/audios/cheese.mp3
!media/palavras/audios/beach.mp3
!media/palavras/audios/child.mp3
!media/palavras/audios/chocolate.mp3
!media/palavras/audios/think.mp3
!media/palavras/audios/tooth.mp3
!media/palavras/audios/bath.mp3
!media/palavras/audios/this.mp3
!media/palavras/audios/that.mp3
!media/palavras/audios/mother.mp3
!media/palavras/audios/phone.mp3
!media/palavras/audios/photo.mp3
!media/palavras/audios/elephant.mp3
!media/palavras/audios/dolphin.mp3
!media/palavras/audios/alphabet.mp3
!media/palavras/audios/trophy.mp3
.idea/
.runlogs/
