{% extends 'core/auth/password_reset_base.html' %}
{% block title %}Confira seu e-mail | SayIt!{% endblock %}
{% block content %}{% with titulo='Confira seu e-mail' descricao='Se este e-mail estiver associado a uma conta ativa, você receberá um link para criar uma nova senha. Confira também a pasta de spam.' %}{{ block.super }}{% endwith %}{% endblock %}
{% block recovery_content %}
<p class="field-help">O link vale por 1 hora. Se você não receber a mensagem, confira o endereço informado ou peça ajuda a um responsável.</p>
<p class="auth-alternative"><a href="{% url 'password_reset' %}">Solicitar outro link</a></p>
{% endblock %}
